div{
    margin: auto;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    padding: .25rem;
    }

td{
    background-color: rgb(232, 231, 230);
}

table{
    border: 2px solid green;
    box-shadow: 3px 3px 3px ;
}