{% extends 'base.html' %}
<title>{% block title %}Boggle!{% endblock %}</title>
{% block content %}
<h1>Boggle!</h1>
<h2>{{check_status}}</h2>
<div class="div container">
    <table width="30%">
        {% for board in session['board'] %}
        <tr>
            {% for row in board %}
            <td>
                {{row}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<form action="/check-word" name="frmMain">
    <div class="div container">
        <div class="row justify-content-center">
            <div class="div col p-3">
                <input type="text" name="word" id="word">
                <br>
                <button class="btn btn-success m-3" id="btnGuess">Guess a Word!</button>
            </div>
        </div>
    </div>
</form>

<hr>
{% endblock %}